h2, h3 {
    color: #00ADDC;
    font-weight: 600;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

h4 {
    color: #717f90;
}

.section-padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bleu{
    background-color: #00ADDC;
    height: 20px;
}

/*
Menu
*/
.navbar-default .navbar-brand {
    color: #00ADDC;
}

.navbar-default {
    background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #717f90;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-nav > li > a {
    padding: 0px;
    margin: 10px 5px;
    padding: 10px 15px
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00ADDC;
}

.navbar-default .navbar-brand {
    font-family: ;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 40px;
    margin: 20px 0px;
}

.navbar-default .navbar-brand:hover {
    color: #00ADDC;
}

.navbar-default .navbar-brand span {
    font-weight: 300
}

.navbar {
    margin-bottom: 0px;
}

/*
Présentation
*/

.banner {
    background: url('../photo/Banniere.jpg') no-repeat center top;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.bg-color{
    background-color: RGBA(12, 11, 11, 0.72);
    min-height: 500px;
}

.text-dec{
    font-size: 24px;
    padding: 20px 20px;
    margin: 15px 0px;
    text-transform: uppercase;
    color: #fff;
}

.text-border{
    border: 5px solid #00ADDC;
    display: inline-block;
    margin-top: 150px;
}

.intro-pres{
    font-family: ;
    font-size: 45px;
    color: #fff;
    margin-top: 30px;
}

.text-pres {
    font-size: 20px;
}

.texte-ecole{
    margin: 0px 60px;
    font-size: 15px;
    font-weight: 500;
}
/* 
2 autres école
*/

#article3 {
    background-color: rgb(242, 242, 242);
}

h2{
    font-size: 24px;
    padding-bottom: 10px;

}

.bottom-line {
    width: 25px;
    height: 3px;
    background-color: rgb(99, 122, 145);
}

.art {
    margin-top: 25px;
    margin-bottom: 25px;
}



.art-img > img {
    width: 100px;
}

.heading h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: center;
}

/*
Footer
*/

.footer {
    padding: 20px 0px 10px;
    background: RGB(52, 73, 95);
}

.txt-credit{
    font-size: 12px;
    color: rgb(200, 200, 200);
    top: 130px 
}

.reseau-social{
    text-align: center;
    margin-top: 30px;

}

.txt-mfc{
    font-size: 15px;
    color: #FFF;
    margin-top: 10px;
}

.txt-contacter{
    font-size: 15px;
    color: #FFF;
}

#fb, #tw, #lk{
    display: inline-block;
    margin:auto;
    width: 40px;
    height: 40px;
}

#fb{
    left: 10px;
    top: 0px;
    background: url("../photo/sprit.png") -13px -14px;
}

#tw{
    left: 10px;
    top: 10px;
    background: url("../photo/sprit.png") -86px -14px;
}

#lk{
    left: 10px;
    top: 20px;
    background: url("../photo/sprit.png") -233px -14px;
}

.footer h4 a{
    color: #FFF;
}

/*
Page Présentation
*/
.bouton-bleu{
    background-color: #00ADDC;   
}
.page-presentation h4{
    font-weight: 700;
}

/*
Page Formation
*/
.blanc {
    height: 70px;
    background-color: #FFF;
}